<%= provide(:title, @dog.name) %>
<div class="container">
    <div class="row center">
        <h3><%= @dog.name %>'s Profile</h3>
    </div>


    <div class="row center">
        <div class="profile">
            <h5>
                <ul>
                    <li>Name:         <%= @dog.name %></li>
                    <li>Breed:        <%= @dog.breed %></li>
                    <li>Weight:       <%= @dog.weight %></li>
                    <li>Age:          <%= @dog.age %></li>
                    <li>Color:        <%= @dog.color %></li>
                    <li>Gender:       <%= @dog.gender %></li>
                    <li>City:         <%= @dog.city %></li>
                    <li>Personality:  <%= @dog.personality %></li>
                </ul>
            </h5>
        </div>
    </div>

    <div class="row center">
        <%= link_to "Add Photo!", new_user_dog_photo_path(@user, @dog), class: "btn btn-lg btn-success" %>
    </div>

    <div class="row center">
        <h3><%= @dog.name %>'s Gallery</h3>
            <% @photo.each do |photo| %>
                <%= cl_image_tag(photo.cloud_id, :width => 200, :height => 400, :crop => :fit, :radius => 20) %></li>
            <% end %>
    </div>
</div>